{% load static %}
{% if products %}
<div class=" w-full md:w-3/4 mx-auto flex gap-3 flex-wrap ">
    {% for product in products %}
    <div class="w-[300px]">
        <div class=" bg-gray-500 rounded-xl">
            <a href="{% url 'product-details' product.product.pid %}">
                <div>
                    <div class="p-4 inline bg-green-400 rounded-lg">{{ product.product.get_percentage|floatformat:2 }}%
                    </div>
                </div>
                <div class="w-full my-0 mx-[25px]">
                    <img class="w-[250px] h-[300px] object-contain" src="{{ product.product.image.url }}"
                        alt="{{ product.product.title }}" />
                </div>
            </a>
            <div class="rounded-lg">
                {% if product.product.tag %}
                <span>{{product.product.tag}}</span>
                {% endif %}
            </div>
            <div class="px-3 my-0">
                <a href="{% url 'product-details' product.product.pid %}">
                    <p class="text-red-400">{{ product.product.category }}</p>
                    <p class="w-full text-wrap font-bold text-lg">{{ product.product.title }}</p>
                    <div class="">
                        {% if product.avg_rating <= 1 %} <span>⭐</span>
                            {% elif product.avg_rating <= 2 %} <span>⭐⭐</span>
                                {% elif product.avg_rating <= 3 %} <span>⭐⭐⭐</span>
                                    {% elif product.avg_rating <= 4 %} <span>⭐⭐⭐⭐</span>
                                        {% elif product.avg_rating <= 4 %} <span>⭐⭐⭐⭐</span>
                                            {% elif product.avg_rating <= 5 %} <span>⭐⭐⭐⭐⭐</span>
                                                {% endif %}
                                                <span>( {{ product.avg_rating |floatformat:1 }} )</span>

                    </div>
                    <p class="text-green-400">
                        By <a href="#">{{ product.product.user }}</a>
                    </p>
                    <div class="flex justify-between">
                        <p class="p-0 mb-0">${{ product.product.price }}</p>
                        <p class="line-through text-red-500 text-sm">{{ product.product.old_price }}</p>
                    </div>
                </a>
                <div class="flex justify-between">
                    <div>
                        <button onclick="Add_qty('{{ product.product.pid }}')"><img src="{% static '/svg/plush.svg' %}"
                                alt=""></button>
                        <input id="{{ product.product.pid }}" type="number" value="1" class="w-10 commonclass">
                        <button onclick="Remove_qty('{{ product.product.pid }}')"><img
                                src="{% static '/svg/minush.svg' %}" alt=""></button>
                    </div>
                    <button id="{{ product.product.pid }}" onclick="remove('{{ product.product.pid }}')"
                        class="p-2 bg-purple-400 text-green-400 rounded-lg">Remove</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<button id="onlyorder" class=" w-full text-center py-2 bg-purple-500 text-black rounded-lg shadow-md z-20 my-3"
    onclick="Order()">Order</button>

{% else %}
<div class=" flex justify-center">
    <a class=" p-3 shadow-xl z-20 text-wrap bg-white text-black rounded-lg" href="{% url 'home' %}">No Order is hare .
        Go to shop</a>
</div>
{% endif %}